body {
  margin: 0px;
  padding: 0px;
}

.hero {
  height: 100vh;
  width: 100vw;
}

.full-height {
  height: 100vh;
}

.full-width {
  height: 100vw;
}

.container {
  max-width: 1280px;
  width: 75vw;
  margin: auto;
}

.flex {
  display: flex;
}

.vertical {
  flex-direction: column;
}

.full-center {
  justify-content: center;
  align-items: center;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.split-left {
  margin-right: 4em;
}

.split-40 {
  width: 40%;
}

.split-60 {
  width: 60%;
}
