

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.full-height {
  height: 100vh;
}

.full-width {
  height: 100vw;
}

.container {
  max-width: 1440px;
  width: 75vw;
  margin: auto;
}

.flex {
  display: flex;
}

.vertical {
  flex-direction: column;
}

.full-center {
  justify-content: center;
  align-items: center;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.split-left {
  margin-right: 4em;
}

.split-40 {
  width: 40%;
}

.split-60 {
  width: 60%;
}

.split-55 {
  width: 55%;
}

.split-50 {
  width: 50%;
}

.pointer {
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
}

.inline {
  display: inline;
}

.relative {
  display: relative;
}

@media only screen and (min-width: 3000px) {
  
  .full-height {
    height: auto;
  }

}

@media screen and (max-width: 800px) {
  .split {
    flex-direction: column;
  }

  .mob-justify-center {
    justify-content: center;
    margin-left: 20px;
  }
}